@page "/register"
@using IEsrog.Models
@using IEsrog.Services
@using IEsrog.Components

<PageTitle>iEsrog | Sign up</PageTitle>

<div class="py-20 bg-white dark:bg-gray-700 container max-w-6xl mx-auto grid justify-center px-2">
    <RegisterForm OnSubmit="@OnSubmit"/>
</div>

@code {
    [Inject]
    public MainStateService MainService { get; set; }
    [Inject]
    NavigationManager NavManager { get; set; }


    async void OnSubmit(User user)
    {
        try
        {
            var pass = user.Password;
            await MainService.RegisterAsync(user);
            user.Password = pass;
            await MainService.LoginAsync(user);

            MainService.AddAlert(new Alert("Success", "Register succeed", AlertType.Success));
            NavManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            MainService.AddAlert(new Alert("Error", e.Message, AlertType.Error));
        }
    }
}
