@page "/admin/order"
@page "/admin/order/{orderId}"
@using MongoDB.Bson
@using SukkotMeNET.Models
@using SukkotMeNET.Services
@using CoreHtmlToImage

<section class="py-1 bg-blueGray-50 flex-grow dark:bg-gray-800" style="min-height:80vh;">
    @if (_Order is not null)
    {

        <img src="@_ImgSrc" class="mx-auto xl:w-2/3"/>
    }
</section>


@code {
    [Parameter] public string? OrderId { get; set; }
    [Inject] public AppStateService State { get; set; }
    [Inject] public InvoiceService _InvoiceService { get; set; }

    Order? _Order;
    string _ImgSrc = string.Empty;

    protected override void OnInitialized()
    {
        if (ObjectId.TryParse(OrderId, out _))
        {
            _Order = State.AdminState.AllOrders.FirstOrDefault(o => o.Id == OrderId);
            var user = State.AdminState.AllUsers.FirstOrDefault(u => u.Id == _Order.UserId);

            if (_Order is not null && user is not null)
            {
                var bytes = new HtmlConverter().FromHtmlString(_InvoiceService.GetInvoiceHtml(_Order, user));
                _ImgSrc = string.Format("data:image/9j/4AAQ;base64,{0}", Convert.ToBase64String(bytes));
            }
        }
    }

}
