@page "/admin/users"
@using SukkotMeNET.Services
@using SukkotMeNET.Models
@inherits SukkotMeNET.Models.PageBase
@inject AppStateService _State
@inject MainStateService _Service
@attribute [Authorize(Policy = Constants.Policies.IsAdmin)]


<PageTitle>Users</PageTitle>

<section class="py-1 dark:bg-gray-800">
    <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4 mx-auto mt-24">
        <div class="relative flex flex-col min-w-0 break-words bg-white dark:bg-gray-900 w-full mb-6 shadow-lg rounded">
            <div class="rounded-t mb-0 px-4 py-3 border-0">
                <div class="flex flex-wrap items-center">
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                        <h3 class="font-semibold text-base dark:text-gray-200">
                            Users
                        </h3>
                    </div>
                </div>
            </div>

            <div class="block w-full overflow-x-auto">
                <table class="items-center bg-transparent w-full border-collapse ">
                    <thead>
                        <tr>
                            <th class="px-6 bg-blueGray-50 dark:text-gray-200 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Name
                            </th>
                            <th class="px-6 bg-blueGray-50 dark:text-gray-200 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Email
                            </th>
                            <th class="px-6 bg-blueGray-50 dark:text-gray-200 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Phone
                            </th>
                            <th class="px-6 bg-blueGray-50 dark:text-gray-200 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Orders
                            </th>
                            <th class="px-6 bg-blueGray-50 text-red-400 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                Delete
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var user in _State.AdminState.AllUsers)
                        {
                            <tr>
                                <th class="dark:text-gray-200 border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700">
                                    @if (user.IsAdmin)
                                    {
                                        <b>A &nbsp;</b>
                                    }
                                    @user.FirstName @user.LastName
                                </th>
                                <td class="dark:text-gray-300 border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                    <a href="mailto:@user.Email">
                                        @user.Email
                                    </a>
                                </td>
                                <td class="dark:text-gray-300 border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                    <a href="tel:@user.PhoneNumber">
                                        <i class="fas fa-phone"></i> @user.PhoneNumber
                                    </a>
                                </td>
                                <td class="dark:text-gray-300 border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-4 align-middle">
                                    <NavLink href=@string.Format($"/admin/orders/{user.Id}")>
                                        <i class="fas fa-external-link-square-alt">
                                        </i>
                                    </NavLink>
                                </td>
                                <td class="dark:text-gray-300 border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-4 align-middle">
                                    @if (!user.IsAdmin)
                                    {
                                        <i @onclick="() => RemoveUser(user)" class="fas fa-trash text-red-400 cursor-pointer"></i>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>

@code
{
    [Inject]
    public IJSRuntime JS { get; set; }
    async void RemoveUser(User? user)
    {
        if (user is not null && await JS.InvokeAsync<bool>(Constants.JavaScriptFunctions.Confirm, $"To delete {user.FirstName}?"))
        {
            await _Service.RemoveUserAsync(user);
        }
    }
}
