@page "/admin"
@using SukkotMeNET.Components
@using SukkotMeNET.Services
@attribute [Authorize(Policy = Constants.Policies.IsAdmin)]

<section class="py-20 bg-white dark:bg-gray-800">
    <div class="container max-w-6xl mx-auto">
        <h2 class="text-4xl font-bold tracking-tight text-center dark:text-gray-200">
            Welcome back Yanky
        </h2>
        <p class="mt-2 text-lg text-center text-gray-600 dark:text-gray-300">Check out our list of awesome features below.</p>
        <div class="grid grid-cols-4 gap-8 mt-10 sm:grid-cols-8 lg:grid-cols-12 sm:px-8 xl:px-0">

            <Card FaIcon="fa-users" Title="All Users" Link="/admin/users"
                  Text="Each of our plan will provide you and your team with certifications" />

            <Card FaIcon="fa-chart-bar" Title="All Orders" Link="/admin/orders"
                  Text="Each of our plan will provide you and your team with certifications" />

            <Card FaIcon="fa-shopping-basket" Title="Items"
                  Text="Each of our plan will provide you and your team with certifications" />
            
            <Card FaIcon="fa-hdd" Title="Backup data" Onclick="@Backup"
                  Text="Each of our plan will provide you and your team with certifications" />
            
            <Card FaIcon="fa-key" Title="Change password" Link="/admin/changepassword"
                  Text="Each of our plan will provide you and your team with certifications" />
            
            <Card FaIcon="fa-chart-pie" Title="Analytics"
                  Text="Each of our plan will provide you and your team with certifications" />

            <Card FaIcon="fa-sign-out-alt" Title="Logout" Onclick="@Logout"
                  Text="Each of our plan will provide you and your team with certifications" />
        </div>
    </div>
</section>

@code {
    [Inject] public MainStateService Service { get; set; }    
    [Inject] public NavigationManager Navigation { get; set; }
    [Inject] public IJSRuntime Js { get; set; }

    async void Logout()
    {
        await Js.InvokeVoidAsync(Constants.JavaScriptFunctions.LocalStorageRemove, "token");
        Service.Logout();
        Navigation.NavigateTo("/login");
    }

    async void Backup()
    {
        var data = await Service.Backup();
    }
}
