@page "/admin/email"

<div class="py-20 bg-white dark:bg-gray-700 container max-w-6xl grid justify-center px-2">

    <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-last-name">
            Subject
        </label>
        <input type="text"  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
    </div>

    <div class="w-full px-3 mt-10">
        <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-last-name">
            Content
        </label>
        <textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
    </div>
    
    
    <div class="w-full px-3 mt-10">Send</div>
</div>

@code {

}
