@page "/admin/createuser"
@page "/admin/createuser/{fromPage}"
@using IEsrog.Components
@using IEsrog.Models
@using IEsrog.Services

<div class="py-20 bg-white dark:bg-gray-700 container max-w-6xl mx-auto grid justify-center px-2">
    <RegisterForm OnSubmit="@OnSubmit" JustUserCreation="true"/>
</div>


@code {
    [Inject] public MainStateService MainService { get; set; } = null!;

    [Inject] NavigationManager NavManager { get; set; } = null!;

    [Parameter] public string? FromPage { get; set; }

    async void OnSubmit(User user)
    {
        try
        {
            if (string.IsNullOrWhiteSpace(user.Email))
            {
                user.Email = $"{Guid.NewGuid()}@null.com";
            }
            await MainService.RegisterAsync(user);

            MainService.AddAlert(new Alert("Success", "User creation succeed", AlertType.Success));

            if (string.IsNullOrWhiteSpace(FromPage))
            {
                NavManager.NavigateTo("/admin");
            }
            else
            {
                var to = FromPage!.Replace('-', '/');
                NavManager.NavigateTo($"/{to}");
            }
            
        }
        catch (Exception e)
        {
            MainService.AddAlert(new Alert("Error #002", e.Message, AlertType.Error));
        }
    }
}
