<section class="text-gray-700 bg-white body-font dark:bg-gray-800">
    <div class="container flex flex-col items-center px-8 py-8 mx-auto max-w-7xl sm:flex-row">
        <NavLink href="/" class="text-xl font-black leading-none text-gray-900 dark:text-white select-none logo">
            iEsrog<span class="text-green-600">.</span>
        </NavLink>
        <p class="mt-4 text-sm text-gray-500 dark:text-gray-200 sm:ml-4 sm:pl-4 sm:border-l sm:border-gray-200 sm:mt-0">
            &copy; 2019 - @DateTime.Now.Year YudiKahn
        </p>

        <span class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start">

            <a href="https://wa.me/+18186052066" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Whatsapp</span>
                <i class="fab fa-whatsapp"></i>
            </a>

            <a href="https://maps.google.com/maps?q=18253+Topham+St+Tarazana+CA+91335" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Map</span>
                <i class="fas fa-map-marker-alt"></i>
            </a>

            <a href="sms:+18186052066" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Chat</span>
                <i class="fas fa-comments"></i>
            </a>

            <a href="tel:+18186052066" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Phone</span>
                <i class="fas fa-phone"></i>
            </a>

            <a href="mailto:sukkotme@gmail.com" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Gm ail</span>
                <i class="fas fa-envelope"></i>
            </a>
        </span>
    </div>
</section>