@page "/forgotpassword/{Id}"
@page "/forgotpassword"
@using MongoDB.Bson
@using SukkotMeNET.Extensions
@using SukkotMeNET.Interfaces
@using SukkotMeNET.Models
@using SukkotMeNET.Services
@inherits PageBase

<PageTitle>SukkotMe | Reset Password</PageTitle>


<section class="w-full px-2 py-20 bg-gray-100 xl:px-8 flex-grow dark:bg-gray-700">
    <div class="max-w-5xl mx-auto py-16">
        <div class="grid" style="place-items:center;">

            <div class="w-full mt-16 md:mt-0 md:w-2/5">
                <div class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white dark:bg-gray-800 border-b-2 border-gray-300 dark:border-gray-900 rounded-lg shadow-2xl px-7">
                    <div>
                        @if (string.IsNullOrEmpty(Id))
                        {
                            <h3 class="mb-6 text-2xl font-medium text-center dark:text-gray-300">
                                Enter your associated email address
                            </h3>
                            <input type="email" @bind-value="@EmailAddress" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-green-500 focus:outline-none" placeholder="Email address" />
                            <div class="block">
                                <button disabled="@IsSendingMail" class=@string.Format($"{(IsSendingMail ? "opacity-50 cursor-not-allowed" : "")} w-full px-3 py-4 font-medium text-white bg-green-600 rounded-lg")
                                    type="submit" @onclick="SendEmail">
                                    @if (IsSendingMail)
                                    {
                                        <svg role="status" class="inline mr-3 w-4 h-4 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB" />
                                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor" />
                                        </svg>
                                    }
                                    Submit
                                </button>
                            </div>
                            <p class="w-full mt-4 text-sm text-center text-gray-500">
                                <NavLink href="/login">Login</NavLink>
                            </p>
                        }
                        else if (ObjectId.TryParse(Id, out var objId))
                        {
                            <h3 class="mb-6 text-2xl font-medium text-center dark:text-gray-300">
                                Enter new password
                            </h3>
                            <input type="password" placeholder="New password" @bind-value="@NewPassword" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-green-500 focus:outline-none" />
                            <div class="block">
                                <button class="w-full px-3 py-4 font-medium text-white bg-green-600 rounded-lg"
                                    type="submit" @onclick="ResetPassword">
                                    Save
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@code {
    [Inject] IRepositoryService RepositoryService { get; set; }
    [Inject] NavigationManager Navigation { get; set; }
    [Inject] MainStateService MainService { get; set; }
    [Inject] EmailService EmailService { get; set; }

    [Parameter]
    public string? Id { get; set; }

    string EmailAddress { get; set; } = string.Empty;
    string NewPassword { get; set; } = string.Empty;

    bool IsSendingMail = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (ObjectId.TryParse(Id, out _))
        {
            var user = await RepositoryService.UsersRepository.ReadFirstAsync(u => u.Id == Id);
            if (user == null)
            {
                Navigation.NavigateTo("/login");
            }
        }
    }

    async void SendEmail()
    {
        try
        {
            IsSendingMail = true;


            if (EmailAddress.IsNullOrBlank())
                throw new Exception("Please fill email address");

            var user = await RepositoryService.UsersRepository.ReadFirstAsync(u => u.Email.ToLower() == EmailAddress.ToLower());
            if (user == null)
                throw new Exception("No user with this email address");


            string websiteUrl;
#if DEBUG
    websiteUrl = "https://localhost:7043";
#else
            websiteUrl = "https://sukkotsenet.herokuapp.com/";
#endif

            var html = string.Concat("<a href=", '"', $"{websiteUrl}/forgotpassword/{user.Id}", '"', ">Link for resetting your SukkotMe password</a>");
            var isEmailSend = await EmailService.SendAsync("SukkotMe Reset password", html, EmailAddress);
            if (!isEmailSend)
                throw new Exception("Error while sending email. contact developer");

            MainService.AddAlert(new Alert("You got mail", "please enter the link you've got"));
        }
        catch (Exception e)
        {
            MainService.AddAlert(new Alert("Error", e.Message, AlertType.Error));
        }
        finally
        {
            IsSendingMail = false;
        }
    }

    async void ResetPassword()
    {
        try
        {
            if (NewPassword.IsNullOrBlank())
                throw new Exception("Please enter new password");

            var user = await RepositoryService.UsersRepository.ReadFirstAsync(u => u.Id == Id);
            if (user == null)
                throw new Exception("Unknown error accord, please contact developer");

            user.Password = BCrypt.Net.BCrypt.HashPassword(NewPassword);
            await RepositoryService.UsersRepository.UpdateFirstAsync(u => u.Id == Id, user);

            Navigation.NavigateTo("/login");
        }
        catch (Exception e)
        {
            MainService.AddAlert(new Alert("Error", e.Message, AlertType.Error));
        }
    }
}
