@page "/gallery"

<div class="bg-white dark:bg-gray-800">
    <div class="mx-auto">
        <section class="py-8 px-4 container mx-auto">
            <div class="flex flex-wrap -mx-4">
                @for (var i = 1; i < 10; i++)
                {
                    <div class="md:w-1/2 px-4 mb-8 md:mb-0">
                        <img class="rounded shadow-md my-1" src=@(@$"/images/i{i}.jpeg") alt="gallery"/>
                    </div>
                }
            </div>
        </section>
    </div>
</div>

@code {

}
