@page "/"

<PageTitle>SukkotMe | Home</PageTitle>

<section class="px-2 py-32 bg-white md:px-0">
    <div class="container items-center max-w-6xl px-8 mx-auto xl:px-5">
        <div class="flex flex-wrap items-center sm:-mx-3">
            <div class="w-full md:w-1/2 md:px-3">
                <div class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0">
                    <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 dark:text-gray-200 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl">
                        <span class="block xl:inline">All Your Sukkot Needs&nbsp;</span>
                        <span class="block text-green-600 xl:inline">In One Place!</span>
                    </h1>
                    <p class="mx-auto text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl">
                        A <i>shluchim</i> website for ordering four <i>minim</i>, <i>schach</i>, and other <i>sukkot</i> needs
                    </p>
                    <div class="relative flex flex-col sm:flex-row sm:space-x-4">
                        <NavLink href="/shop" class="flex items-center w-full px-6 py-3 mb-3 text-lg text-white bg-green-600 rounded-md sm:mb-0 hover:bg-green-700 sm:w-auto">
                            Shopping
                        </NavLink>
                        <NavLink href="/gallery" class="flex items-center w-full px-6 py-3 mb-3 text-lg text-gray-500 bg-gray-300 rounded-md sm:mb-0 sm:w-auto">
                            Gallery
                        </NavLink>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2">
                <div class="w-full h-auto overflow-hidden rounded-md shadow-xl sm:rounded-xl">
                    <img src="/images/field.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="flex items-center justify-center py-20 bg-white dark:bg-gray-800 min-w-screen">
    <div class="px-16">
        <div class="container flex flex-col items-start mx-auto lg:items-center">

            <h2 class="dark:text-gray-300 relative flex items-start justify-start w-full max-w-3xl text-5xl font-bold lg:justify-center">
                Quotes
            </h2>
            <div class="block w-full h-0.5 max-w-lg mt-6 bg-green-100 rounded-full"></div>

            <div class="items-center justify-center w-full mt-12 mb-4 lg:flex">
                <div class="w-full mt-12 mb-4 lg:flex">
                    <div class="flex flex-col items-start justify-start w-full h-auto lg:w-2/3">
                        <blockquote class="text-lg text-gray-500 dark:text-gray-200">
                            "Rabbi Schneur Zalman of Liadi taught that when G‑d told Moses that
                            the Jews should take an etrog, He sent messengers to gather them in Calabria.
                            Thus, even as Napoleon wreaked havoc on Europe during his wars of conquest,
                            Rabbi Schneur Zalman sent a messenger to retrieve for him a Calabria citron from Italy."
                        </blockquote>
                    </div>
                </div>

                <div class="w-full mt-12 mb-4 lg:flex">
                    <div class="flex flex-col items-start justify-start w-full h-auto lg:w-2/3">
                        <blockquote class="text-lg text-gray-500 dark:text-gray-200">
                            "When World War I broke out, a Chassid named Avraham Erlanger, living in Switzerland,
                            received a telegram from the fifth Rebbe asking that he arrange a Calabria etrog.
                            Against huge odds, Erlanger managed to obtain a number of Calabria etrogim,
                            which he sent with a messenger all the way to Lubavitch, arriving just in time for the holiday."
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
