@page "/users"
@using SukkotMeNET.Interfaces
@using SukkotMeNET.Models
@using SukkotMeNET.Services
@inject AppStateService state 


<PageTitle>Users</PageTitle>

<AuthorizeView Policy="@Constants.Policies.IsAdmin" Resource="@state.User?.Id">
    <Authorized>
        @foreach (var user in users)
        {
            <div>
                <h3>@user.FirstName</h3>
            </div>
        }
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject]
    public IRepositoryService repository { get; set; }

    private IEnumerable<User> users { get; set; } = Array.Empty<User>();

    protected override async Task OnInitializedAsync()
    {
        users = await repository.UserRepository.ReadAllAsync();
    }
}