@page "/user/order/{orderId}"
@using IEsrog.Models
@using IEsrog.Services
@inherits PageBase


<div class="mx-auto w-full md:w-3/4 xl:w-1/2">
    <img src=@InvoicePdf class="w-full" alt="invoice" id="invoice-img" crossOrigin="Anonymous"/>
</div>

@code {
    [Parameter] public string? OrderId { get; set; }

    [Inject] InvoiceService InvoiceService { get; set; } = null!;
    [Inject] IJSRuntime Js { get; set; } = null!;
    [Inject] AppStateService State { get; set; } = null!;

    const int Height = 1500;
    const int Width = 800;

    string? _InvoicePdf;
    public string InvoicePdf
    {
        get => _InvoicePdf ?? string.Empty;
        set => SetProperty(ref _InvoicePdf, value);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        var order = State.UserOrders.FirstOrDefault(o => o.Id == OrderId);
        var user = State.User;

        var html = InvoiceService.GetInvoiceHtml(order, user);
        InvoicePdf = await Js.InvokeAsync<string>(
            Constants.JavaScriptFunctions.GetImageFromHTML, 
            html, Width, Height
        );
    }

}
