@using SukkotMeNET.Models
@using SukkotMeNET.Extensions

@if (_IsVisible && _Items != null)
{
    <div class="fixed inset-0 bg-black bg-opacity-50 z-50 items-center justify-center">
        <div class="fixed z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-start justify-between p-4 border-b rounded-t-lg bg-green-600 dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-white dark:text-white">
                            Duplicate Order
                        </h3>
                        <button @onclick="() => Close(false)" type="button"
                                class="text-white bg-green-500 hover:bg-gray-200 hover:text-gray-900 rounded-full text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="staticModal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>

                    @if (_Items.Any())
                    {
                        <div class="px-3 py-6 space-y-6">
                            <div>
                                <div class="h-60 w-full overflow-x-auto">
                                    <table class="items-center bg-transparent w-full border-collapse ">
                                        <thead>
                                            <tr>
                                                <th class="px-6 bg-blueGray-50 dark:text-gray-200 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                                    Product
                                                </th>
                                                <th class="px-6 bg-blueGray-50 dark:text-gray-200 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                                    Total
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in _Items)
                                            {
                                                <tr>
                                                    <td class="dark:text-gray-300 border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                                        @item.Name
                                                        @if (!string.IsNullOrWhiteSpace(item.PriceType) ||
                                                       !string.IsNullOrWhiteSpace(item.Option))
                                                        {
                                                            <small>(@item.PriceType @item.Option)</small>
                                                        }
                                                        &nbsp;&times;&nbsp;@item.Qty
                                                    </td>
                                                    <td class="dark:text-gray-300 border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                                        $@($"{item.Qty * item.Price:N1}")
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="flex justify-end mt-6">
                                    Total: &nbsp;&nbsp;
                                    <span class="text-lg text-gray-800 font-bold">$@($"{_Items.GetTotal():N2}")</span>
                                </div>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="flex justify-end p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                            <button @onclick="() => Close(true)" data-modal-hide="staticModal" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                Duplicate
                            </button>
                        </div>
                    }
                    else
                    {
                        <h1 class="px-3 py-6 space-y-6 text-red-700 text-lg font-bold">No orders from last year</h1>
                    }

                </div>
            </div>
        </div>

    </div>
}

@code {
    private bool _IsVisible = false;
    private OrderItem[]? _Items;

    public event EventHandler<bool> Closed;

    public void Show(params OrderItem[] items)
    {
        _Items = items;
        _IsVisible = true;
        StateHasChanged();
    }

    private void Close(bool ok)
    {
        _Items = null;
        _IsVisible = false;
        StateHasChanged();
        Closed?.Invoke(this, ok);
    }
}
