@* <div class="slider-component"> *@
<div class="slider w-full sm:w-1/2 md:w-1/3 xl:w-1/4 p-4">
        <div class="slides">
            @ChildContent
        </div>
    </div>
@* </div> *@

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
