@page "/user/orders"
@using SukkotMeNET.Extensions
@using SukkotMeNET.Services
@inject AppStateService AppState

<div class="w-full bg-white dark:bg-gray-800 grid place-content-center py-5 flex-grow">
    <div class="container">
        <div class="rounded-lg shadow-lg overflow-hidden">
            <div class="px-6 py-8 bg-white sm:p-10 sm:pb-6">
                <h3 class="text-2xl leading-8 font-extrabold text-gray-900 sm:text-3xl sm:leading-9">
                    @string.Format(AppState.UserOrders.Count > 0 ? $"{AppState.User.FirstName}, Here is your orders" : "You have no orders yet")
                </h3>
                <div class="flex items-center mt-8">
                    <h4 class="flex-shrink-0 pr-4 bg-white text-sm leading-5 tracking-wider font-semibold uppercase" style="color:#c6a530;">
                        @(AppState.UserOrders.Count) Orders
                    </h4>
                    <div class="flex-1 border-t-2 border-gray-200" style="border-style:solid;"></div>
                </div>
                <div class="mt-8">
                    <ul class="pl-0">
                        @foreach (var order in AppState.UserOrders)
                        {
                            <li>
                                <NavLink href=@string.Format($"/user/orders/{order.Id}") class="flex items-start cursor-pointer">
                                    <div class="flex-shrink-0">
                                        <i class="fas fa-mouse-pointer"></i>
                                    </div>
                                    <div class="ml-3 text-base leading-6 flex flex-col md:flex-row flex-wrap flex-grow justify-between items-baseline">
                                        <p class="text-gray-700 flex-shrink-0">
                                            @(order.Items.Count()) items
                                        </p>
                                        <div class="flex-shrink-0 mt-1 md:mt-0">
                                            <span class="text-lg text-gray-800 font-bold">@order.GetTotal()</span>
                                        </div>
                                    </div>
                                </NavLink>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="px-6 pt-6 pb-8 bg-gray-100 sm:p-10 sm:pt-6">
                <NavLink href="/shop" class="cursor-pointer mt-6 rounded-md flex items-center justify-center px-5 py-3 border border-solid border-gray-400 text-lg leading-6 font-medium rounded-md text-gray-700">
                    Go Shopping
                </NavLink>
            </div>
        </div>
    </div>
</div>

@code {

}
