@page "/user/orders"
@using SukkotMeNET.Extensions
@using SukkotMeNET.Services
@inject AppStateService AppState


<section class="py-1 dark:bg-gray-800">
    <div class="w-full lg:w-8/12 xl:w-1/2 mb-12 xl:mb-0 px-4 mx-auto mt-24">
        <div class="relative flex flex-col min-w-0 break-words bg-white dark:bg-gray-900 w-full mb-6 shadow-lg rounded">
            <div class="rounded-t mb-0 px-6 py-3 border-0">
                <div class="flex flex-wrap items-center">
                    <div class="relative w-full max-w-full flex-grow flex-1">
                        <h3 class="font-semibold text-base dark:text-gray-200">
                            @string.Format($"{AppState.User.FirstName}'s Orders")
                        </h3>
                    </div>
                </div>
            </div>

            <div class="block w-full overflow-x-auto">
                <table class="items-center bg-transparent w-full border-collapse">
                    <thead>
                    <tr>
                        <th class="px-6 bg-blueGray-50 dark:text-gray-200 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                            CREATED AT
                        </th>
                        <th class="px-6 bg-blueGray-50 dark:text-gray-200 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                            ITEMS
                        </th>
                        <th class="px-6 bg-blueGray-50 dark:text-gray-200 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                            PAYMENT
                        </th>
                        <th class="px-6 bg-blueGray-50 text-red-400 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                            Delete
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var order in AppState?.UserOrders)
                    {
                        <tr class="hover:bg-gray-100 cursor-pointer w-full">
                            <th class="dark:text-gray-200 border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700">
                                @order.CreatedAt.ToString("dd MMM yyyy hh:mm")
                            </th>
                            <td class="dark:text-gray-300 border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                @order.Items.Count()
                            </td>
                            <td class="dark:text-gray-300 border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                @order.PaymentMethod
                            </td>
                            <td class="dark:text-gray-300 border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-4 align-middle">
                                <i class="fas fa-trash text-red-400 cursor-pointer"></i>
                            </td>
                        </tr>
                    }
                    </tbody>

                </table>
                
                <div class="table">
                    <a class="table-row" href="/mylink">
                        <div class="table-cell">...</div>
                        <div class="table-cell">...</div>
                        <div class="table-cell">...</div>
                    </a>
                </div>      

            </div>
        </div>
    </div>
</section>