@page "/user/order/{orderId}/invoice"
@using MongoDB.Bson
@using IEsrog.Models
@using IEsrog.Services
@inherits PageBase

<div class="min-h-screen">

    @if (string.IsNullOrEmpty(InvoicePdf))
    {
        <section class="py-20 bg-white" style="min-height: 80vh;">
            <div class="px-4 mx-auto text-center max-w-7xl sm:px-6 lg:px-8">
                <h2 class="text-3xl font-extrabold tracking-tight text-green-600 my-6 sm:text-4xl md:text-5xl xl:text-6xl">
                    @Message
                </h2>
            </div>
        </section>
    }
    else
    {
        <div class="mx-auto w-full md:w-3/4 xl:w-1/2">
            <img src=@InvoicePdf class="w-full" alt="invoice" id="invoice-img" crossOrigin="Anonymous"/>
        </div>
    }
</div>

@code {
    [Parameter]
    public string? OrderId { get; set; }
    [Inject]
    public AppStateService State { get; set; }
    [Inject]
    InvoiceService _InvoiceService { get; set; }
    [Inject]
    public IJSRuntime Js { get; set; }
    int _Height = 1500;
    int _Width = 800;
    Order? _Order;

    string? _InvoicePdf;
    public string InvoicePdf
    {
        get => _InvoicePdf ?? string.Empty;
        set
        {
            if (string.IsNullOrEmpty(_InvoicePdf))
            {
                SetProperty(ref _InvoicePdf, value);
            }
        }
    }

    string _Message = "Loading invoice...";
    public string Message
    {
        get => _Message;
        set => SetProperty(ref _Message, value);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (ObjectId.TryParse(OrderId, out _))
        {
            try
            {
                _Order = State.UserOrders.FirstOrDefault(o => o.Id == OrderId);


                if (_Order is null || State.User is null)
                    throw new Exception();

                var user = State.User;
                if (_Order.UserId != user.Id)
                {
                    var x = State.AdminState.AllUsers.FirstOrDefault(u => u.Id == _Order.UserId);
                    if (x != null)
                    {
                        user = x;
                    }
                }

                var html = _InvoiceService.GetInvoiceHtml(_Order, user);
                InvoicePdf = await Js.InvokeAsync<string>(
                    Constants.JavaScriptFunctions.GetImageFromHTML, 
                    html, _Width, _Height
                    );
                Message = "Invoice loaded";
            }
            catch
            {
                Message = "Error while getting invoice. Please wait a few seconds and then reload";
            }
        }
        else
        {
            Message = "Cannot find order";
        }
    }
}
